interactions:
- request:
    body: null
    headers:
    method: GET
    uri: http://www.kinopoisk.ru/film/6877/
  response:
    body:
      string: ''
    headers:
      Location:
      - https://www.kinopoisk.ru/film/6877/
    status:
      code: 301
      message: Moved permanently
- request:
    body: null
    headers:
    method: GET
    uri: https://www.kinopoisk.ru/film/6877/
  response:
    body:
      string: "\n<!DOCTYPE html PUBLIC \"-//W3C//DTD XHTML 1.0 Transitional//EN\"\
        \ \"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd\">\n<html xmlns=\"\
        http://www.w3.org/1999/xhtml\" xmlns:og=\"http://opengraphprotocol.org/schema/\"\
        \ dir=\"ltr\" lang=\"ru\" prefix=\"og: http://ogp.me/ns# video: http://ogp.me/ns/video#\
        \ ya: http://webmaster.yandex.ru/vocabularies/\">\n<head profile=\"http://gmpg.org/xfn/11\"\
        >\n    <title>\u0422\u0435\u0440\u043C\u0438\u043D\u0430\u043B \u2014 \u0441\
        \u043C\u043E\u0442\u0440\u0435\u0442\u044C \u043E\u043D\u043B\u0430\u0439\u043D\
        \ \u2014 \u041A\u0438\u043D\u043E\u041F\u043E\u0438\u0441\u043A</title>\n\n\
        \    <meta http-equiv=\"content-type\" content=\"text/html; charset=utf-8\"\
        \ />\n    <meta http-equiv=\"X-UA-Compatible\" content=\"IE=edge,chrome=1\"\
        \ />\n    <meta property=\"fb:app_id\" content=\"121953784483000\"/>\n   \
        \ <meta name=\"msapplication-TileColor\" content=\"#FF6600\">\n    <meta name=\"\
        msapplication-TileImage\" content=\"https://st8.kp.yandex.net/public/img/favicons/favicon-144.png\"\
        >\n    <meta name=\"application-name\" content=\"\u041A\u0438\u043D\u043E\u043F\
        \u043E\u0438\u0441\u043A\">\n    <meta name=\"msapplication-config\" content=\"\
        https://st2.kp.yandex.net/public/xml/ieconfig.xml\">\n    <meta content=\"\
        width=960\" name=\"viewport\" />\n    <meta property=\"fb:pages\" content=\"\
        152308956519\" />\n\n    <link rel=\"search\" type=\"application/opensearchdescription+xml\"\
        \ title=\"\u041F\u043E\u0438\u0441\u043A \u043D\u0430 kinopoisk.ru\" href=\"\
        /kp_search.xml\" />\n    <link rel=\"mask-icon\" href=\"https://st2.kp.yandex.net/public/img/favicons/safari-favicon-16.svg\"\
        \ color=\"#ff6600\">\n    <link rel=\"apple-touch-icon-precomposed\" href=\"\
        https://st6.kp.yandex.net/public/img/favicons/favicon-152.png\">\n    <link\
        \ rel=\"icon\" type=\"image/png\" hre[...]
- request:
    body: null
    headers:
    method: GET
    uri: http://www.kinopoisk.ru/film/6877/video/
  response:
    body:
      string: ''
    headers:
      Location:
      - https://www.kinopoisk.ru/film/6877/video/
    status:
      code: 301
      message: Moved permanently
- request:
    body: null
    headers:
    method: GET
    uri: https://www.kinopoisk.ru/film/6877/video/
  response:
    body:
      string: "\n<!DOCTYPE html PUBLIC \"-//W3C//DTD XHTML 1.0 Transitional//EN\"\
        \ \"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd\">\n<html xmlns=\"\
        http://www.w3.org/1999/xhtml\" xmlns:og=\"http://opengraphprotocol.org/schema/\"\
        \ dir=\"ltr\" lang=\"ru\" prefix=\"og: http://ogp.me/ns# video: http://ogp.me/ns/video#\
        \ ya: [...]
