interactions:
- request:
    body: null
    headers:
    method: GET
    uri: http://www.kinopoisk.ru/index.php?level=7&from=forma&result=adv&m_act%5Bfrom%5D=forma&m_act%5Bwhat%5D=actor&m_act%5Bfind%5D=%D0%93%D1%83%D0%B0%D0%BB%D1%8C%D1%82%D0%B8%D0%B5%D1%80%D0%BE+%D0%AF%D0%BA%D0%BE%D0%BF%D0%B5%D1%82%D1%82%D0%B8
  response:
    body:
      string: ''
    headers:
      Location:
      - https://www.kinopoisk.ru/index.php?level=7&from=forma&result=adv&m_act%5Bfrom%5D=forma&m_act%5Bwhat%5D=actor&m_act%5Bfind%5D=%D0%93%D1%83%D0%B0%D0%BB%D1%8C%D1%82%D0%B8%D0%B5%D1%80%D0%BE+%D0%AF%D0%BA%D0%BE%D0%BF%D0%B5%D1%82%D1%82%D0%B8
    status:
      code: 301
      message: Moved permanently
- request:
    body: null
    headers:
    method: GET
    uri: https://www.kinopoisk.ru/index.php?level=7&from=forma&result=adv&m_act%5Bfrom%5D=forma&m_act%5Bwhat%5D=actor&m_act%5Bfind%5D=%D0%93%D1%83%D0%B0%D0%BB%D1%8C%D1%82%D0%B8%D0%B5%D1%80%D0%BE+%D0%AF%D0%BA%D0%BE%D0%BF%D0%B5%D1%82%D1%82%D0%B8
  response:
    body:
      string: "\n<!DOCTYPE html PUBLIC \"-//W3C//DTD XHTML 1.0 Transitional//EN\"
        \"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd\">\n<html xmlns=\"http://www.w3.org/1999/xhtml\"
        xmlns:og=\"http://opengraphprotocol.org/schema/\" dir=\"ltr\" lang=\"ru\"
        prefix=\"og: http://ogp.me/ns# video: http://ogp.me/ns/video# ya: http://webmaster.yandex.ru/vocabularies/\">\n<head
        profile=\"http://gmpg.org/xfn/11\">\n    <title>\u0420\u0435\u0437\u0443\u043B\u044C\u0442\u0430\u0442\u044B
        \u043F\u043E\u0438\u0441\u043A\u0430</title>\n\n    <meta http-equiv=\"content-type\"
        content=\"text/html; charset=utf-8\" />\n    <meta http-equiv=\"X-UA-Compatible\"
        content=\"IE=edge,chrome=1\" />\n    <meta property=\"fb:app_id\" content=\"121953784483000\"/>\n
        \   <meta name=\"msapplication-TileColor\" content=\"#FF6600\">\n    <meta
        name=\"msapplication-TileImage\" content=\"https://st8.kp.yandex.net/public/img/favicons/favicon-144.png\">\n
        \   <meta name=\"application-name\" content=\"\u041A\u0438\u043D\u043E\u043F\u043E\u0438\u0441\u043A\">\n
        \   <meta name=\"msapplication-config\" content=\"https://st2.kp.yandex.net/public/xml/ieconfig.xml\">\n
        \   <meta content=\"width=960\" name=\"viewport\" />\n    <meta property=\"fb:pages\"
        content=\"152308956519\" />\n\n    <link rel=\"search\" type=\"application/opensearchdescription+xml\"
        title=\"\u041F\u043E\u0438\u0441\u043A \u043D\u0430 kinopoisk.ru\" href=\"/kp_search.xml\"
        />\n    <link rel=\"mask-icon\" href=\"https://st2.kp.yandex.net/public/img/favicons/safari-favicon-16.svg\"
        color=\"#ff6600\">\n    <link rel=\"apple-touch-icon-precomposed\" href=\"https://st6.kp.yandex.net/public/img/favicons/favicon-152.png\">\n
        \   <link rel=\"icon\" type=\"image/png\" href=\"https://st5.kp.y[...]
- request:
    body: null
    headers:
    method: GET
    uri: http://www.kinopoisk.ru/index.php?kp_query=%D0%93%D1%83%D0%B0%D0%BB%D1%8C%D1%82%D0%B8%D0%B5%D1%80%D0%BE+%D0%AF%D0%BA%D0%BE%D0%BF%D0%B5%D1%82%D1%82%D0%B8
  response:
    body:
      string: ''
    headers:
      Location:
      - https://www.kinopoisk.ru/index.php?kp_query=%D0%93%D1%83%D0%B0%D0%BB%D1%8C%D1%82%D0%B8%D0%B5%D1%80%D0%BE+%D0%AF%D0%BA%D0%BE%D0%BF%D0%B5%D1%82%D1%82%D0%B8
    status:
      code: 301
      message: Moved permanently
- request:
    body: null
    headers:
    method: GET
    uri: https://www.kinopoisk.ru/index.php?kp_query=%D0%93%D1%83%D0%B0%D0%BB%D1%8C%D1%82%D0%B8%D0%B5%D1%80%D0%BE+%D0%AF%D0%BA%D0%BE%D0%BF%D0%B5%D1%82%D1%82%D0%B8
  response:
    body:
      string: ''
    headers:
      Content-Type:
      - text/html; charset=utf-8
      location:
      - /name/351549/
    status:
      code: 302
      message: Found
- request:
    body: null
    headers:
    method: GET
    uri: https://www.kinopoisk.ru/name/351549/
  response:
    body:
      string: "<!DOCTYPE html><html><head><script data-tid=\"23a8082c\">!function(i,t){if(i.Ya=i.Ya||{},Ya.Rum)throw
        new Error(\"Rum: interface is already defined\");var n=i.performance,e=n&&n.timing&&n.timing.navigationStart||Ya.startPageLoad||+new
        Date,s=i.requestAnimationFrame;Ya.Rum={enabled:!!n,vsStart:document.visibilityState,vsChanged:!1,_defTimes:[],_defRes:[],_deltaMarks:{},_markListeners:{},_settings:{},_vars:{},init:function(i,t){this._settings=i,this._vars=t},getTime:n&&n.now?function(){return
        n.now()}:Date.n[...]
