interactions:
- request:
    body: null
    headers:
    method: GET
    uri: http://www.kinopoisk.ru/name/8217/photos/page/1/
  response:
    body: {string: ''}
    headers:
      Location: ['https://www.kinopoisk.ru/name/8217/photos/page/1/']
    status: {code: 301, message: Moved permanently}
- request:
    body: null
    headers:
    method: GET
    uri: https://www.kinopoisk.ru/name/8217/photos/page/1/
  response:
    body: {string: "\n<!DOCTYPE html PUBLIC \"-//W3C//DTD XHTML 1.0 Transitional//EN\"
        \"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd\">\n<html xmlns=\"http://www.w3.org/1999/xhtml\"
        xmlns:og=\"http://opengraphprotocol.org/schema/\" dir=\"ltr\" lang=\"ru\"
        prefix=\"og: http://ogp.me/ns# video: http://ogp.me/ns/video# ya: http://webmaster.yandex.ru/vocabularies/\">\n<head
        profile=\"http://gmpg.org/xfn/11\">\n    <title>\u0422\u0430\u0439\u043B\u0435\u0440
        \u041C\u044D\u0439\u043D \u2014 \u0444\u043E\u0442\u043E \u2014 \u041A\u0438\u043D\u043E\u041F\u043E\u0438\u0441\u043A</title>\n\n
        \   <meta http-equiv=\"content-type\" content=\"text/html; charset=utf-8\"
        />\n    <meta http-equiv=\"X-UA-Compatible\" content=\"IE=edge,chrome=1\"
        />\n    <meta property=\"fb:app_id\" content=\"121953784483000\"/>\n    <meta
        name=\"msapplication-TileColor\" content=\"#FF6600\">\n    <meta name=\"msapplication-TileImage\"
        content=\"https://st8.kp.yandex.net/public/img/favicons/favicon-144.png\">\n
        \   <meta name=\"application-name\" content=\"\u041A\u0438\u043D\u043E\u043F\u043E\u0438\u0441\u043A\">\n
        \   <meta name=\"msapplication-config\" content=\"https://st2.kp.yandex.net/public/xml/ieconfig.xml\">\n
        \   <meta content=\"width=960\" name=\"viewport\" />\n    <meta property=\"fb:pages\"
        content=\"152308956519\" />\n\n    <link rel=\"search\" type=\"application/opensearchdescription+xml\"
        title=\"\u041F\u043E\u0438\u0441\u043A \u043D\u0430 kinopoisk.ru\" href=\"/kp_search.xml\"
        />\n    <link rel=\"mask-icon\" href=\"https://st2.kp.yandex.net/public/img/favicons/safari-favicon-16.svg\"
        color=\"#ff6600\">\n    <link rel=\"apple-touch-icon-precomposed\" href=\"https://st6.kp.yandex.net/public/img/favicons/favicon-152.png\">\n
        \   <link rel=\"icon\" type=\"image/png\" href=\"https://st5.kp.y[...]
- request:
    body: null
    headers:
    method: GET
    uri: http://www.kinopoisk.ru/picture/1105434/
  response:
    body: {string: ''}
    headers:
      Location: ['https://www.kinopoisk.ru/picture/1105434/']
    status: {code: 301, message: Moved permanently}
- request:
    body: null
    headers:
    method: GET
    uri: https://www.kinopoisk.ru/picture/1105434/
  response:
    body: {string: "<!DOCTYPE html PUBLIC \"-//W3C//DTD XHTML 1.0 Transitional//EN\"
        \"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd\">\n\n<html xmlns=\"http://www.w3.org/1999/xhtml\">\n<head>\n<title>\u0424\u043E\u0442\u043E:
        \ \u0422\u0430\u0439\u043B\u0435\u0440 \u041C\u044D\u0439\u043D  / \u041A\u0430\u0434\u0440
        \u0438\u0437  \xAB\u0422\u0430\u0439\u043B\u0435\u0440 \u041C\u044D\u0439\u043D\xBB
        (1966) #1105434</title>\n<meta http-equiv=\"content-type\" content=\"text/html;
        charset=utf-8\" />\n<meta http-equiv=\"X-UA-Compatible\" content=\"IE=EmulateIE8\"
        />\n\n<link href=\"/images/favicon.ico\" type=\"image/x-icon\" rel=\"shortcut
        icon\" />\n<link href=\"/images/icons/favicon_256x160.png\" type=\"image/png\"
        rel=\"icon\" />\n<link href=\"/images/icons/favicon_16x16.png\" type=\"image/png\"
        rel=\"icon\" />\n<link href=\"https://st.kp.yandex.net/js/graphic.css?v=20141114\"
        type=\"text/css\" rel=\"stylesheet\" media=\"all\" />\n<link href=\"https://st.kp.yandex.net/js/ui/css/base/ui.all.css?v=20100402\"
        type=\"text/css\" rel=\"stylesheet\" media=\"all\" />\n\n\n<script type=\"text/javascript\">\n
        \   window.KP = window.KP || {};\n    window.KP.helpers = window.KP.helpers
        || {};\n    window.KP.config = window.KP.config || {};\n\n    window.KP.helpers.userIsAuth
        = function () {\n        return false;\n    };\n    window.KP.helpers.isSocialUser
        = function () {\n        return false;\n    };\n    window.KP.helpers.getOpenidType
        = function () {\n        return false;\n    };\n    function getUserLogin()
        {\n        ret[...]
[...]
